body {
    background-color: white;
}

.imgContainer{
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.imgContainer > img{
    position: absolute;
    width: 100%;
    height: 100%;
}
